#expose-popin {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  text-align: center;

  > * {
    flex-direction: column;
  }

  .section-content-wrapper {
    position: relative;
    display: flex;
    margin: auto;
  }

  .text-wrapper {
    text-align: center;
    margin: auto;
  }
}