#section-6, #section-7, #section-8, #section-9, #section-10 {

  .section-title {
    .transition-text-wrapper {
      overflow: hidden;
    }

    margin-bottom: 0;
  }

  .section-subtitle {
    display: none;
  }

  .line-1, .line-2 {
    display: none;
  }

  .drag-wrapper {
    display: none;
  }
}

#section-7 {

  .section-content-wrapper {

    display: block;

    .text {
      display: inline-block;
      text-transform: uppercase;
    }

    .text-left {
      margin-right: 10px;
    }

    .text-right {
      margin-left: 10px;
    }

    input.slider {
      display: inline-block;
      transform: translateY(3px);
    }

  }

}