[id^="section-"] {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    text-align: center;

    > * {
        flex-direction: column;
        transition: opacity $transition-duration-long $transition-ease;
    }

    .section-content-wrapper {
        position: relative;
        display: flex;
        margin: auto;
    }

    .text-wrapper {
        text-align: center;
        margin: auto;
    }
}

/*
* Override position by section
*/

#section-6, #section-7, #section-8, #section-10 {
    .drag-wrapper {
        position: absolute;
        height: 415px;
        width: 980px;
        right: 0;
        bottom: 120px;
    }
}

#section-0 {
    display:flex;
}

#section-10 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#section-11 {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@import "section-header";
@import "section-introduction";
@import "section-embark";
@import "section-tutorial";
@import "section-form";
@import "section-slidebar";
@import "section-select";

@import "section-paging";
@import "section-line";
@import "section-title";
@import "section-subtitle";
