$margin: 62px;

$color1: #5b88dd;
$color2: #7cd8c6;
$color3: #fba08c;
$color4: #bb99e0;
$color5: #ffc569;

$transition-ease: ease-in-out;
$transition-duration-long: 0.9s;
$transition-duration-short: 0.3s;

$font-serif: 'Yeseva One', cursive;
$font-sans-serif: 'Poppins', sans-serif;